
.bar, .bar a {
	background-color: black;
	color: white; 
	font-size: 200%;
}
.background {
    /* The image used */
    background-image: code/allisonhurley.github.io/img("IMG_0850.jpg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
